<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <style>
        body{
            background-color: gray;
        }
        main{
            background-color: #fff;
            width: 100%;
            height: 50px;
            display: flex;
            margin: auto;
            align-items: center;
        }

        .btns{
            background-color: plum;
            padding: 5px;
            margin-left: 50px;
        }
        .btns:hover{
            padding: 10px;
        }
    </style>
</head>
<body>
    <main>
    <center>
        <span><big>SWTIZ MSG</big></span>
        <button class="btns"><a href="http://127.0.0.1:8000/s" style="text-decoration: none;">Signup</a></button>
        <button class="btns"><a href="http://127.0.0.1:8000/l" style="text-decoration: none;">Login</a></button>
        <button class="btns"><a href="http://127.0.0.1:8000/h" style="text-decoration: none;">Help</a></button>
    </center>
</main>
</body>
</html>